#user_group_label {
  cursor: pointer;
  margin-bottom: 0px;
  padding: 12px;
  border: 2px solid #d3394c;
  color: #d3394c;
  font-weight: bold;
}

#user_group_label {
  cursor: pointer;
  margin-bottom: 0px;
  padding: 12px;
  border: 2px solid #d2d2d2;
  color: #d3394c;
  font-weight: bold;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

* {
  box-sizing: border-box;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

